@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding:0;
  box-sizing: border-box;
  margin:0;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

/* styles for smaller devices */

@layer components {
  .mobileNav{
  @apply  bg-[rgba(248,248,248,0.90)] backdrop-blur-md absolute w-full h-[100vh]  z-30  top-[4rem] p-10 
  }
}

/* css */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans";
}
#product-heading{
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

/* animation */
.wrapper {
  margin-top: 2rem;
  width: 90%;
  max-width: 1700px;
  margin-inline: auto;
  height: 100px;
  position: relative;

 
}
@keyframes scrollLeft {
  to {
    left: -500px;
  }
}

@keyframes scrollRight {
  to {
    right: -500px;
  }
}


.itemLeft,
.itemRight {position: absolute;
  animation-timing-function: linear;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
.itemLeft {
  left: max(calc(320px * 4),100% );
  animation-name: scrollLeft;
}
.itemRight {
  right: max(calc(320px * 4), 100% );
  animation-name: scrollRight;
}

.item0 {
  animation-delay: calc(16s / 4 * (4- 1) * -1);
}

.item1 {
  animation-delay: calc(16s / 4 * (4 - 2) * -1);
}

.item2 {
  animation-delay: calc(16s / 4 * (4 - 3) * -1);
}

.item3 {
  animation-delay: calc(16s / 4 * (4 - 4) * -1);
}

.item4{
  animation-delay: calc(16s / 4 * (4 - 5) * -1);
}

/* global styles */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
